<!-- <p>
  dishdetail works!
</p>
 -->

 <div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <!-- <mat-card *ngIf="dish" >
  <div  fxFlex="40">
    <mat-card-header>
      <mat-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    
    
    <p>{{dish.description}}</p>
  </div>
</mat-card> -->
<!-- <p>Display the details of the Dish here</p> -->

<mat-card *ngIf="dish"  >
  <div  fxFlex="40">
  <mat-card-header>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{dish.image}} alt={{dish.name}}>
  <mat-card-content >
    <pre>
    <p matLine>{{dish.description}}
    </p>
  </pre>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  </div>
</mat-card>


<mat-card *ngIf="dish" >
  <div fxFlex="40">
    <!-- <p>Display the list of comments here</p> -->
    <mat-grid-list>
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p md-line>{{comment.comment}}</p>
        <p md-line>{{comment.rating}} Stars</p>
        <p md-line>-- {{comment.author}} {{comment.date | date}}</p>
      </mat-list-item>
     
    </mat-grid-list>
  </div>
</mat-card>
</div>